@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root
{
    --colorDark: #343a40;
    --colorLight: #f8f9fa;
}

body, html
{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#main
{
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--colorDark);
}

.container
{
    width: 100%;
}

.mr
{
    margin-right: 10px;
}

#brand
{
    font-size: 48px;
    margin-bottom: 20px;
}

#login
{
    width: 100%;
}

#middleContainer
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    width: 50%;
    height: 50%;

    transform: translateX(-50%) translateY(-50%);
}

#loginForm
{
    box-shadow: 0px 0px 2px var(--colorDark);
    border-radius: 10px;

    min-width: 500px;
    width: fit-content;
    height: fit-content;

    padding: 50px;
    padding-top: 10px;

    color: var(--colorDark);
    background-color: var(--colorLight);
}

.spinnerShow
{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    background-color: var(--colorDark);
}

.spinner-border
{
    display: block !important;
    height: 50px;
    width: 50px;
}